/* GLOBAL */
:root {
    --text-color:#9597a5;
    --title-color:#2d314d;
    --blou-color:#30c88f;
    --information-color:#F4F5F7;
}


/* FONTS */
@font-face {
    font-family: "Public Sans";
    src: url("../fonts/") format("woff2"),
        url("../fonts/PublicSans-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Public Sans";
    src: url("../fonts/PublicSans-Medium.woff2") format("woff2"),
        url("../fonts/PublicSans-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Public Sans";
    src: url("../fonts/PublicSans-Thin.woff2") format("woff2"),
        url("../fonts/PublicSans-Thin.woff") format("woff");
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

html{
    box-sizing: border-box;
    height: 100%;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing:inherit;
}

body{
    display: flex;
    flex-direction: column;
    height: 100%;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    font-family: "Public Sans", "Arial" , sans-serif;
    background-color: #fff;
    color: var(--text-color);
}

img{
    max-width: 100%;
    height: auto;
}


/* AUTOFILL-STYLES
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    border-color: transparent;
    -webkit-text-fill-color: inherit;
    -webkit-box-shadow: 0 0 0px 1000px #fff inset;
} */



/* VISUALLY-HIDDEN */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}


/* PLACEHOLDER-STYLES */
/* ::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
:-moz-placeholder {
    color: rgb(52, 49, 61, 0.5);
    opacity: 1;
} */


.button {
    display: inline-block;
    text-decoration: none;
    padding: 8px 36px 8px 33px;
    font-weight: 500;
    font-size: 14px;
    line-height: 28px;
    font-size: normal;
    color: #fff;
    border-radius: 22px;
    word-spacing: nowrap;
    background-image: linear-gradient(135deg, #33D35E 0%, #2AB6D9 99.58%);
    transition: opacity .3s ease;
}

.button:hover {
    opacity: 0.8;
}

.button:active {
    opacity: 0.6;
}


/* CONTAINER */
.container{
    width: 100%;
    max-width: 1150px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

/* MAIN-CONTENT */
.main-content{
    flex-grow: 1;
}


/* SITE-HEADER */
.site-header {
    position: relative;
    z-index: 2;
    background-color: #fff;
}

.site-header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.site-header__logo {
    display: flex;
    flex-shrink: 0;
    margin-right: 10px;
}

.site-header__img {
    display: inline-block;
    width: 139px;
    height: 20px;
    object-fit: contain;
    transition: opacity .3s ease;
}

.site-header__logo:hover {
    opacity: 0.8;
}

.site-header__logo:active {
    opacity: 0.6;
}

.sitenav__list {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    margin-right: 10px;
    list-style: none;
}

.sitenav__item:not(:last-child) {
    margin-right: 30px;
}

.sitenav__link {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    word-spacing: nowrap;
    text-decoration: none;
    color: var(--text-color);
    margin-top: 32px;
    font-size: 14px;
    line-height: 16px;
    border-bottom: 4px solid transparent;
    letter-spacing: -0.107692px;
    cursor: pointer;
}

.sitenav__link::after {
    width: 51px;
    height: 4px;
    margin-top: 28px;
    opacity: 0;
    background-image:linear-gradient(135deg, #33D35E 0%, #2AB6D9 99.58%);
    content: "";
}

.sitenav__link:hover::after {
    opacity: 1;
}


/* HERO */
.hero {
    background-image: url(../img/hero-bg-desktop.svg);
    background-repeat: no-repeat;
    background-position: calc(50% + 595px) calc(50% + -40px);
    background-color: #fafafa;
}

.hero__container {
    display: flex;
    position: relative;
}

.hero__info {
    width: 100%;
    max-width: 447px;
    padding-top: 170px;
    padding-bottom: 170px;
}

.hero__title {
    margin-top: 0;
    margin-bottom: 24px;
    font-weight: 100;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: -1px;
    color: var(--title-color);
}

.hero__text {
    margin-top: 0;
    margin-bottom: 36px;
    letter-spacing: -0.28125px;
}

.hero__img {
    position: absolute;
    top: -138px;
    left: calc(50% + 75px);
    width: 780px;
    height: 960px;
    flex-shrink: 0;
    object-fit: contain;
}


/* INFORMATION */
.information-wrapper {
    padding-top: 96px;
    padding-bottom: 94px;
    background-color: var(--information-color);
}

.question {
    width: 100%;
    max-width: 635px;
    margin-bottom: 72px;
}

.question__title {
    margin-top: 0;
    margin-bottom: 16px;
    color: var(--title-color);
    letter-spacing: -0.714286px;
    font-style: normal;
    font-weight: 100;
    font-size: 40px;
    line-height: 64px;
}

.question__text {
    margin: 0;
    letter-spacing: -0.28125px;
}

.information__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    margin: 0;
    padding: 0;
    margin-right: -30px;
    list-style: none;
}

.information__item {
    max-width: 255px;
    width: 100%;
    margin-right: 30px;
}

.information__item--inner {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    background-image: linear-gradient(135deg, #33D35E 0%, #2AB6D9 99.58%);
    width: 72px;
    height: 72px;
    border-radius: 50%;
}

.information__title {
    margin-top: 0;
    margin-bottom: 26px;
    font-weight: 100;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -0.428571px;
    color: var(--title-color);
}

.information__text {
    margin: 0;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: -0.25px;
}


/* ARTICLES */
.articles {
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: #fafafa;
}

.articles__title {
    margin-top: 0;
    margin-bottom: 40px;
    font-weight: 400;
    letter-spacing: -0.714286px;
    font-weight: 100;
    font-size: 40px;
    line-height: 64px;
    color: var(--title-color);
}

.articles__list {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    margin-right: -30px;
    list-style: none;
}

.articles__item {
    max-width: 255px;
    width: 100%;
    background-color: #fff;
    border-radius: 5px;
    margin-right: 30px;
}

.articles__img {
    display: inline-block;
    width: 255px;
    height: 200px;
    border-radius: 5px 5px 0px 0px;
    object-fit: contain;
}

.articles__inner {
    display: flex;
    flex-direction: column;
    margin-top: 21px;
    margin-bottom: 24px;
    padding-left: 24px;
    padding-right: 24px;
}

.articles__text-top {
    display: inline-block;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 8px;
    font-size: 10px;
    line-height: 18px;
    letter-spacing: -0.15625px;
}

.articles__link {
    margin-top: 0;
    margin-bottom: 8px;
    text-decoration: none;
    font-weight: 100;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.285714px;
    color: var(--title-color);
    cursor: pointer;
    transition: color .3s ease, opacity .3s ease;
}

.articles__link:hover {
    color: var(--blou-color);
}

.articles__link:active {
    opacity: 0.6;
}

.articles__text {
    margin: 0;
    font-size: 13px;
    letter-spacing: -0.203125px;
    line-height: 18px;
}


/* FOOTER */
.site-footer {
    padding-top: 48px;
    padding-bottom: 48px;
    background-color: var(--title-color);
}

.site-footer__container {
    display: flex;
    align-items: center;
}

.site-footer__icon-wrapper {
    display: flex;
    flex-direction: column;
    margin-right: 132px;
}

.site-footer__icon {
    display: flex;
    margin-bottom: 55px;
    cursor: pointer;
    transition: opacity .3s ease;
}

.site-footer__icon:hover {
    opacity: 0.8;
}

.site-footer__icon:active {
    opacity: 0.6;
}

.site-footer__img {
    display: inline-block;
    width: 139px;
    height: 20px;
    object-fit: contain;
}

.social-networks {
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-networks__icon:not(:last-child) {
    margin-right: 13px;
}

.social-networks__icon {
    color: #fff;
    cursor: pointer;
    transition: color .3s ease, opacity .3s ease;
}

.social-networks__icon:hover {
    color: var(--blou-color);
}

.social-networks__icon:active {
    opacity: 0.6;
}

.site-footer__list {
    display: flex;
    flex-direction: column;
    max-width: 160px;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
}

.site-footer__list:not(:last-child) {
    margin-right: 30px;
}

.site-footer__item:not(:last-child) {
    margin-bottom: 8px;
}

.site-footer__link {
    font-size: 15px;
    line-height: 26px;
    letter-spacing: -0.234375px;
    text-decoration: none;
    color: #fff;
    transition: color .3s ease, opacity .3s ease;
}

.site-footer__link:hover {
    color: var(--blou-color);
}

.site-footer__link:active {
    opacity: 0.6;
}

.site-footer__inner {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    margin-left: 220px;
}

.site-footer__button {
    display: block;
}

.site-footer__text {
    display: inline-block;
    margin-top: 24px;
    letter-spacing: -0.234375px;
    font-size: 15px;
    line-height: 26px;
    color: rgba(45, 49, 77, 0,5);
}